@model IEnumerable<TaskUser.Models.Tasks>

@{
    ViewData["Title"] = "Task List";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>
                <a asp-action="Create">Create New Task</a>
            </p>
        </div>
            <div class="col-md-4">
                <a asp-action="Index" asp-controller="Workers">WORKERS</a>
            </div>
        <div class="col-md-4">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Выход" />
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateTask)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateTask)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


